<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/x-icon" href="/favicon.png" th:href="@{/images/favicon.png}" />
	<title>Order Creation Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--<script src="jquery.chained.min.js"></script>-->
</head>
<body>
<div class="container-fluid">
	<div class="row row-flex">
		<div  class=" col-md-4 col-xs-12 col-sm-4 col-lg-4">
			<form >
				<button class="btn btn-md btn-link btn-block" type="Submit">ви увійшли як  <span th:text="${#httpServletRequest.remoteUser}"> </span></button>
			</form>
		</div>
        <div class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" >
	      <form th:action="@{/sales/allOrdersList}" method="get">
		      <button class="btn btn-md btn-success btn-block" type="Submit">Всі заявки</button>
	      </form>
        </div>
		<div class=" col-md-4 col-xs-12 col-sm-4 col-lg-4" >
			<form th:action="@{/sales/assignedOrdersList}" method="get">
				<button class="btn btn-md btn-info btn-block" type="Submit">Заявки на погодженні</button>
			</form>
		</div>
		<div class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" >
			<form th:action="@{/logout}" method="get">
				<button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Вийти</button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form autocomplete="off" action="#" th:action="@{/sales/order}"
				  th:object="${order}" method="post" class="form-horizontal" role="form">
				<h2>Форма створення заявки</h2>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" th:field="*{quantity}"
							   placeholder="Вага"  class="form-control" />
						<label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
							   class="validation-message"></label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9">
						<label>продукт</label>
						<select th:field="*{product}">
							<option th:each="product : ${listAllProducts}" th:value="${{product.name}}" th:text="${product.name}">
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" th:field="*{buyer}" placeholder="Покупець"
							   class="form-control" /> <label
							th:if="${#fields.hasErrors('buyer')}" th:errors="*{buyer}"
							class="validation-message"></label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" th:field="*{destination}" placeholder="Місце поставки"
							   class="form-control" /> <label
							th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"
							class="validation-message"></label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<label>Покупець</label>
						<select id="buyer" name="buyer" th:field="*{buyer}">
							<option th:each="company: ${listAllBuyers}" th:value="${buyer.name}" th:text="${buyer.name}"></option>
						</select>

					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<label>Умови поставки</label>
						<select th:field="*{incoterms}">
							<option th:value="FOB">FOB</option>
							<option th:value="FCA">FCA</option>
							<option th:value="DDU">DDU</option>
							<option th:value="DAP">DAP</option>
							<option th:value="CFR">CFR</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<button type="submit" class="btn btn-primary btn-block">Створити заявку</button>
					</div>
				</div>

				<span th:utext="${successMessage}"></span>

			</form>
		</div>
	</div>
</div>

</body>
</html>